.whole {
  text-align: center;
  background-color: rgb(247, 241, 241);
  margin: 0;
  border: 0;
  height: 100%;
  padding: 0;
}

.disbox {
  /* background-color: black; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 400px; */
  flex-wrap: wrap;
}

.inputbox {
  margin-top: 10px;
}

h6 {
  margin: 0;
}

h3 {
  margin: 3px;
}

button {
  margin-bottom: 100px;
}
