.boxbody {
  display: flex;
  height: 120px;
  width: 170px;
  background-color: blanchedalmond;
  margin: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-size: 13px;
  color: rgb(57, 70, 82);
  border-radius: 3px;
}

.info {
  width: 300px;
  /* height: 20px; */
}
