.LogIn{
    justify-content: center;
    display: flex;
    margin-top: 2vh;
}

label{
    padding-right: .5vw;
    font-size: 20px;
}

input{
    border-radius: 8px;
    border-color: seashell;
}

button{
    margin-left: 8vw;
    border: 4px inset ivory;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-right: 1vw;
    padding-left: 1vw;
    margin-top: 1vh;
    background-color: darkkhaki;
}